body{
background-image:url("w.png");
}

h1{
    color: blue;
    background-color: aquamarine;
}
#show_sketch{
    float: right  ;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
animation-name:sketch;
animation-duration : 4s;
animation-iteration-count: infinite;
margin-top: 50px;

} 
@keyframes sketch {
    from{box-shadow:2px 2px 38px royalblue;}
    to{box-shadow:2px 2px 38px orange;}
} 
p{
    padding-top: 10px;
    font-size:25px; ;
    font-weight: 100;
}












































































































































































